<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vue</title>
</head>


<body>

    <div id="app">

        <form v-on:submit.prevent="saveTask">
            <input type="text" v-model="newTask" placeholder="Tarea">
            <input type="submit" value="Guardar tarea">
        </form>

        <p v-for="(value, prop) in user">{{prop}} : {{value}}</p>
        <hr>

        <input type="range" v-model="time"> {{time}}
        <hr>

        <input type="search" v-model="search" placeholder="Buscar tarea">

        <hr>
        <li v-for="item in filterTasks">{{ item.name }} - {{ item.time }}</li>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>

        /* // tradicional 
        window.onload = () => {
            const form = document.querySelector('form');
            const input = document.querySelector('input[type=text]')
            form.onsubmit = (event) => {
                event.preventDefault();
                app.tasks.unshift({
                    name: input.value,
                    time: 10
                });

                input.value = null
            }
        }*/

        const app = new Vue({
            el: "#app",
            data: {
                newTask: '',
                time: 0,
                search: '',
                user: {
                    username: 'cris',
                    role: 'admin'
                },
                tasks: [
                    {
                        name: 'Aprender JavaScript moderno', time: 3
                    },
                    {
                        name: 'Aprender Vue.js', time: 7
                    },
                    {
                        name: 'Viaje más', time: 22
                    }

                ]
            },
            methods: {
                saveTask() {
                    this.tasks.unshift({
                        name: this.newTask,
                        time: Math.floor(Math.random() * 100 + 1)
                    });
                    this.newTask = null;
                }
            },
            computed: {
                filterTasks() {
                    return this.tasks.filter(task => {
                        return task.time <= this.time && task.name.includes(this.search);
                    })
                }
            }

        });

        Vue.config.devtools = true;

    </script>

</body>




</html>